@mixin six-column {
    display:grid;
    grid-template-columns: [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end];
    grid-column-gap: 3rem;

}

@mixin full-grid {
    display:grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}