.footer {
  grid-column: full-start / full-end;
  background: $color-black;
  padding: 8rem 0 6rem;
  color: $color-grey-light;

  &__cont {
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    justify-content: space-between;
  }

  &__widget {
    margin-bottom: 3rem;
  }

  &__logo-cont {
    max-width: 18.2rem;
    margin-bottom: 3rem;

    img {
      width: 100%;
    }
  }

  &__copyright-cont {
    grid-column: center-start / center-end;
    margin-top: 5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
  }

  &__copyright-left {
    display: flex;

    .copyright-text {
      margin-right: 5rem !important;
    }

    span:not(:last-child) {
      margin-right: 3rem;
    }

    a {
      color: $color-grey-light;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

// icon text

.icon-text {
  display: flex;
  margin-bottom: 0.8rem;

  i {
    color: #4a4a4a;
  }

  span {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}

// social media

.socialmedia {
  margin-top: 5rem;

  &__links {
    margin-right: 2rem;
    color: $color-grey-light;
    font-size: 1.4rem;
    transition: $default-transition;

    &:hover {
      color: $color-primary;
    }
  }
}

//links sec

.links-sec {
  &__title {
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      background: #363636;
      position: relative;
      width: 100%;
      display: block;
      margin-top: 0.8rem;
      z-index: 1;
    }

    &::before {
      content: "";
      height: 2px;
      width: 3.5rem;
      background: $color-primary;
      position: absolute;
      bottom: 0;
      display: block;
      z-index: 2;
    }
  }

  ul {
    list-style: none;
  }

  &__list {
    margin-top: 0.8rem;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.3rem;
    padding: 0.8rem 0;
    color: $color-grey-light;
    transition: $default-transition;
  }

  &__link:hover,
  &__link:active {
    color: $color-white;
  }
}

.backtotop:link,
.backtotop:visited {
  color: $color-grey-light;
  text-decoration: underline !important;

  &:hover {
    color: $color-primary;
  }
}
