.cta-image {
  padding: 10.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &--home {
    background: url("../../img/cta-home-img.jpg") no-repeat;
    background-size: cover;
  }

  &--about {
  }

  &__heading {
    color: $color-white;
    font-size: 4rem !important;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6rem;

    @media only screen and (max-width: $bp-desktop-md) {
      width: 60%;
    }

    @media only screen and (max-width: $bp-tab-sm) {
      width: 75%;
    }

    @media only screen and (max-width: $bp-mobile-lg) {
      width: 85%;
    }
  }

  &__button {
  }
}
