.hero {

	// About Us Hero Banner  

	&--about-us {
		background: url("../img/about-us-hero.png") no-repeat;
		background-size: cover;
		height: 90vh;
		width: 100%;
		align-items: center;
	}

	// Home Hero Banner  

	&--home {
		background: url("../img/hero-image.jpg") no-repeat;
		background-size: cover;
		height: 90vh;
		width: 100%;
		align-items: center;
	}

	// Products Hero Banner 

	&--products {
		background: url("../img/product-hero.png") no-repeat;
		background-size: cover;
		height: 90vh;
		width: 100%;
		align-items: center;
	}

	// Partners Hero Banner 

	&--partners {
		background: url("../img/partner-hero.png") no-repeat;
		background-size: cover;
		height: 90vh;
		width: 100%;
		align-items: center;
	}

	// Contacts Hero Banner 

	&--contacts {
		background: url("../img/contacts-hero.png") no-repeat;
		background-size: cover;
		height: 90vh;
		width: 100%;
		align-items: center;
	}

	// Parts Finder Hero Banner 

	&--parts-finder {
		background: url("../img/parts-finder-hero.png") no-repeat;
		background-size: cover;
		height: 90vh;
		width: 100%;
		align-items: center;
	}
}