
/* News Section */

.news-body-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-auto-rows: minmax(100px, auto); 
}

.news-heading {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 4rem;

}

.news-heading .news-heading-title {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 98.6%;
  color: $color-black;
}

.news-heading .news-link-right {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $color-black;
  text-align: right;
}

.card-news-image > img {
  width: 39rem;
}

.card-news .card-news-title {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $color-black;
  padding-top: 1rem; 
}

.card-news .card-news-date {
  font-family: $font-primary;
  font-weight: 325;
  font-size: 12px;
  line-height: 24px;
  color: $color-text-dark;
  margin-top: 1em !important; 
}

.card-news .card-news-excerpt {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: $color-text-dark;
  padding-top: 1.5rem;
}

.card-news .news-btn-link {
  margin-top: 4rem;
  max-width: 100%;
}

.card-news .news-btn-link > a {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: $color-black;
  margin-top: 4rem;
}
