*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

body {
  font-size: $default-font;
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  transition: $default-transition;
}

select:invalid {
  color: gray;
}
