// Backgrounds

.bgprimary {
  background: $color-primary;
  color: $color-white !important;
}

.bgwhite {
  background: $color-white;
  color: $color-black;
}

// Margins

.mt-100 {
  margin-top: 10rem;
}

.mt-90 {
  margin-top: 9rem;
}

.mt-80 {
  margin-top: 8rem;
}

.mt-70 {
  margin-top: 7rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mt-50 {
  margin-top: 5rem;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}
