// Backgrounds

.bg-primary {
  background: $color-primary;
  color: $color-white !important;
}

// Margins

.mt-100 {
  margin-top: 10rem;
}

.mt-90 {
  margin-top: 9rem;
}

.mt-80 {
  margin-top: 8rem;
}

.mt-70 {
  margin-top: 7rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mt-50 {
  margin-top: 5rem;
}
