.partner-hero {
  background: url("../img/partner-hero.png") no-repeat;
  background-size: cover;
  height: 27.5em;
  width: 100%;
  align-items: center;
}

.partner-container {
	grid-column: center-start / center-end;
	padding-bottom: 5rem;
}

// Partner Header Section

.partner-header {
	grid-column: center-start / center-end;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-center;

  	&__title {
  		font-family: $font-primary;
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
		color: $color-black;
        margin-top: 2rem;
        text-align: center;
  	}
}

// Partner Container

.card-partner-body-content {
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  	grid-gap: 2em;
}

.card-partner {
 	border: 1px solid #BEC3C8;
	box-sizing: border-box;
	display: grid;
	grid-auto-rows: minmax(6rem, auto);

	&__logo {
		padding: 3rem;
		margin-left: 8rem;
	}

	&__logo-brand {
		max-width: 15rem;
		display: grid;
		grid-template-columns: 50% 50%;
	}

	&__title {
		font-family: $font-primary;
	  	font-style: normal;
	  	font-weight: 500;
	  	font-size: 18px !important;
	  	line-height: 24px;
	  	color: $color-text-dark;
	  	text-align: center;
	  	padding: 2rem;
	}

	&__location {
		font-family: $font-primary;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: #E60012;
		text-align: center;
	}
}

.partner-card-content {
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	grid-gap: 2em;
}

.partner-card-two {

	&__content {
		background: $color-white;
		padding: 5rem !important;
		margin-top: 10rem !important;
		margin-left: -25rem;
		z-index: 9999
	}

	&__heading {
		display: grid;
       	grid-template-columns: 0.4fr 2fr;
	}

	&__title {
		font-family: $font-primary;
		font-style: normal;
		font-weight: 500;
		font-size: 30px !important;
		line-height: 34px;
		color: #E60012;
	}

	&__excerpt {
		font-family: $font-primary;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 28px;
		color: #5A5A5A;
		margin-top: 3rem;
	}
}


