.hero-content {
	&--container {
		grid-column: center-start / center-end;
      	display: flex;
      	align-items: center;
      	justify-content: center;
      	text-align: center;
      	flex-direction: column;
	}

	&--header {
		grid-column: center-start / center-end;
      	display: flex;
      	align-items: center;
      	justify-content: center;
      	text-align: center;
      	flex-direction: column;
	}
}

.parts-finder {
  	grid-column: center-start / center-end;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));

  	&__header {
  		grid-column: center-start / center-end;
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	text-align: center;
	  	flex-direction: column;
  		border-bottom: 1px solid #E2E4E8;
  	}

  	&__title {
  		font-family: $font-primary;
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
		color: #212121;
		text-align: center;
		margin-bottom: 10rem;
  	}

  	&__button {
  		position: relative;
  		width: 16%;
  		margin-top: -5rem;
  		margin-bottom: 6rem;
  	}

  	&__disclaimer {
  		margin-top: 8rem;
  		grid-column: center-start / center-end;
	  	display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	text-align: center;
	  	flex-direction: column;
  	}

  	&__disclaimer-title {
  		font-family:$font-primary;
		font-style: normal;
		font-weight: 500;
		font-size: 16px !important;
		line-height: 28px;
		color: #5A5A5A;
  	}

  	&__disclaimer-desc {
  		font-family: $font-primary;
		font-style: normal;
		font-weight: 300;
		font-size: 14px !important;
		line-height: 28px;
		color: #5A5A5A;
		width: 904px;
		margin-top: 1rem;
  	}
}